@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div> 
    <p>Joel is a great actor. He is almost as good looking as his better elder brother THE Spencer Hilton.</p>
</div>

<img src="~/img/joelhilton.jpg" height="450" />

<div>
    <a asp-controller="Home" asp-action="Podcast">Podcast</a>
    <a asp-controller="Home" asp-action="MovieEntry">Movie Entry</a>
</div>